<div class="login-wrapper bg-gray-200">
	<h1><img src="/img/logo_rakumo.svg" alt="rakumo"></h1>
	<div class="login-content">
		<h2>Effort Management Tool</h2>
		<div class="text-center p-4">
			<a href="/google-auth/login">
				<button type="button" class="btn btn-primary btn-md">Log In with GSuite Account</button>
			</a>
		</div>
	</div>
	<h2 style="color: red">{{messenger}}</h2>
</div>
