.ui-sortable {
	&-handle {
		cursor: move;
		position: relative;
	}
	&-helper {
		background-color: rgba(255,255,255,.5);
	}
}
.ui-state {
	&-highlight {
		box-shadow: 0 0 10px rgba(0,0,0,.2) inset;
	}
}