<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
	<div class="error-wrapper d-flex w-100 justify-content-center flex-column align-items-center">
		<span class="oi text-danger" data-glyph="ban"></span>
		<div class="d-flex text-secondary">
			<h1 class="mb-0">403</h1>
			<div class="align-self-end ml-2">Forbidden</div>
		</div>
	</div>
</body>
</html>